.container
  .offcanvas.offcanvas-bottom{ id: "betOffcanvas-#{line.id}", tabindex: "-1", "aria-labelledby" => "betOffcanvasLabel-#{line.id}" }
    .offcanvas-header
      %h4.offcanvas-title{ id: "betOffcanvasLabel-#{line.id}" }= line
      %button.btn-close{ data: { bs_dismiss: "offcanvas" }, "aria-label" => "Close" }
    .offcanvas-body
      .bet-form.d-flex
        = simple_form_for(Wager.new(line_id: line.id), remote: true) do |f|
          = f.input :line_id, as: :hidden, value: line.id

          .row.mb-1
            .col
              - if user.accounts.many?
                = f.input :account_id, collection: user.accounts, include_blank: false
              - else
                = f.hidden_field :account_id, value: user.accounts.first.id
          .row.mb-1
            .col
              = f.input :amount, as: :string, input_html: { class: "js-wager-amount-bet", data: { type: "currency", odds: "#{line.odds}" } }
            .col
              = label_tag "wager_to_win", class: "string required" do
                %abbr{ "title" => "required" } *
                To Win
              = text_field_tag "wager_to_win", nil, class: "js-wager-to-win", "data-type" => "currency", "data-odds" => "#{line.odds}"
            .col.d-flex.align-items-end
              = f.submit "Add to Bet Slip", class: "btn btn-primary"
