- if @error.present?
  :plain
    window.showErrorFlash("#{j @error }");
- elsif @notice.present?
  :plain
    window.showSuccessFlash("#{ j @notice }");
    var pendingWagers = $("#pending-wager-#{ @wager.id }").closest(".pending-bet-slip").find("ul li").length;
    if(pendingWagers == 1)
      $("#pending-wager-#{ @wager.id }").closest(".pending-bet-slip").remove();
    else
      $("#pending-wager-#{ @wager.id }").remove();
