%h1 Games
- @games.each do |game|
    %h2= game.description
    - game.contests.order(primary: :desc).each do |contest|
      %h3= contest.name
      %table
        %thead
          %tr
            %th Team
            %th Spread
            %th Over/Under
        %tbody
          - contest.contestants.each.with_index do |contestant, i|
            %tr
              %td= contestant.name
              %td= contestant.lines.point_spread.latest.value
              %td= i % 2 == 0 ? "O #{contestant.lines.over.latest.value}" : "U #{contestant.lines.under.latest.value}"
