%h1 Game Lines
- @games.each do |game|
  - lines = game.lines.reject(&:hidden?).select(&:game?)
  - lines.select(&:point_spread?).sort_by(&:created_at).take(2).sort_by { |l| l.contestant.priority }.each_cons(2) do |line1, line2|

    %table{ class: "table table-bordered table-responsive" }
      %thead
        %tr
          %th
          %th Team
          %th Spread
          %th Over/Under
      %tbody
        %tr
          %td= game.starts_at.strftime("%m/%-d/%Y")
          %td= line1.contestant.competitor.abbreviation
          %td= line1.value
          %td= "O #{lines.select(&:over?).first.value}"
        %tr
          %td= game.starts_at.strftime("%l:%M%P")
          %td= line2.contestant.competitor.abbreviation
          %td= line2.value
          %td= "U #{lines.select(&:under?).first.value}"
