%h1.pt-3 Admin

.actions.mt-3
  .mb-1.btn.btn-warning
    = link_to "Fetch NFL Lines",
      fetch_lines_admin_dashboard_path(sport: :nfl, scope: :game),
      remote: true
  .mb-1.btn.btn-warning
    = link_to "Fetch NFL 1st Half Lines",
      fetch_lines_admin_dashboard_path(sport: :nfl, scope: :first_half),
      remote: true
  .mb-1.btn.btn-warning
    = link_to "Fetch NFL 2nd Half Lines",
      fetch_lines_admin_dashboard_path(sport: :nfl, scope: :second_half),
      remote: true
  %br
  .mb-1.btn.btn-warning
    = link_to "Fetch NCAAF Lines",
      fetch_lines_admin_dashboard_path(sport: :ncaaf, scope: :game),
      remote: true
  .mb-1.btn.btn-warning
    = link_to "Fetch NCAAF 1st Half Lines",
      fetch_lines_admin_dashboard_path(sport: :ncaaf, scope: :first_half),
      remote: true
  .mb-1.btn.btn-warning
    = link_to "Fetch NCAAF 2nd Half Lines",
      fetch_lines_admin_dashboard_path(sport: :ncaaf, scope: :second_half),
      remote: true
  %br
  .mb-1.btn.btn-success
    = link_to "Fetch NFL Scores",
      fetch_scores_admin_dashboard_path(sport: :nfl),
      remote: true
  .mb-1.btn.btn-success
    = link_to "Fetch NCAAF Scores",
      fetch_scores_admin_dashboard_path(sport: :ncaaf),
      remote: true
  .mb-1.btn.btn-success
    = link_to "Score Lines",
      score_lines_admin_dashboard_path,
      remote: true
  .mb-1.btn.btn-success
    = link_to "Score Wagers",
      score_wagers_admin_dashboard_path,
      remote: true
.card.text-bg-primary.mt-3{ style: "width: 100%;" }
  .card-body
    .card-title
      %h4.mb-1
        Account Summary
  %ul.list-group.list-group-flush
    - @accounts.each_with_index do |account, index|
      %li.d-flex.list-group-item.align-items-center{ id: "account-#{account.id}", class: ( index % 2 == 0 ? "bg-theme-2" : "bg-theme-3") }
        .ms-5.flex-fill= account.qualified_name
        = currency(account.balance)
    - grand_total = -1 * (@accounts.sum(&:balance) - Payment.sum(:amount))
    %li.d-flex.list-group-item.align-items-center{ class: (grand_total >= 0 ? "bg-success" : "bg-danger") }
      .ms-5.flex-fill Total
      = currency(grand_total)
    %li.d-flex.list-group-item.align-items-center{ class: "bg-info"}
      .ms-5.flex-fill Payments
      = currency(-1 * Payment.sum(:amount))
    - balance = -1 * @accounts.sum(&:balance)
    %li.d-flex.list-group-item.align-items-center{ class: (balance >= 0 ? "bg-success" : "bg-danger") }
      .ms-5.flex-fill Outstanding
      = currency(balance)
