%h1.pt-3 Admin

.actions.mt-3
  .mb-1.btn.btn-warning
    = link_to "Fetch NFL Lines",
      fetch_lines_admin_dashboard_path(sport: :nfl, scope: :game),
      remote: true
  .mb-1.btn.btn-warning
    = link_to "Fetch NFL 1st Half Lines",
      fetch_lines_admin_dashboard_path(sport: :nfl, scope: :first_half),
      remote: true
  .mb-1.btn.btn-warning
    = link_to "Fetch NFL 2nd Half Lines",
      fetch_lines_admin_dashboard_path(sport: :nfl, scope: :second_half),
      remote: true
  %br
  .mb-1.btn.btn-warning
    = link_to "Fetch NCAAF Lines",
      fetch_lines_admin_dashboard_path(sport: :ncaaf, scope: :game),
      remote: true
  .mb-1.btn.btn-warning
    = link_to "Fetch NCAAF 1st Half Lines",
      fetch_lines_admin_dashboard_path(sport: :ncaaf, scope: :first_half),
      remote: true
  .mb-1.btn.btn-warning
    = link_to "Fetch NCAAF 2nd Half Lines",
      fetch_lines_admin_dashboard_path(sport: :ncaaf, scope: :second_half),
      remote: true
  %br
  .mb-1.btn.btn-success
    = link_to "Fetch NFL Scores",
      fetch_scores_admin_dashboard_path(sport: :nfl),
      remote: true
  .mb-1.btn.btn-success
    = link_to "Fetch NCAAF Scores",
      fetch_scores_admin_dashboard_path(sport: :ncaaf),
      remote: true
  .mb-1.btn.btn-success
    = link_to "Score Lines",
      score_lines_admin_dashboard_path,
      remote: true
  .mb-1.btn.btn-success
    = link_to "Score Wagers",
      score_wagers_admin_dashboard_path,
      remote: true
.card.text-bg-primary.mt-3{ style: "width: 100%;" }
  .card-body
    .card-title
      %h4.mb-1
        Account Summary

    %table.table.table-dark.table-striped
      %thead
        %tr
          %th Account
          %th.text-nowrap Winnings
          %th.text-nowrap Payments
          %th.text-nowrap Balance
      %tbody
        - @accounts.each_with_index do |account, index|
          %tr
            %td= account.qualified_name
            %td.text-nowrap{ style: "width: 50px" }= currency(account.winnings)
            %td.text-nowrap{ style: "width: 50px" }= currency(account.payment_sum)
            %td.text-nowrap{ style: "width: 50px" }= currency(account.balance)
        %tr
          %td Totals
          %td.text-nowrap{ style: "width: 50px", class: (@accounts.sum(&:winnings) >= 0 ? "table-info" : "table-danger") }= currency(@accounts.sum(&:winnings))
          %td.text-nowrap{ style: "width: 50px", class: (@accounts.sum(&:payment_sum) > 0 ? "table-warning" : "") }= currency(-1 * @accounts.sum(&:payment_sum))
          %td.text-nowrap{ style: "width: 50px", class: (@accounts.sum(&:balance) >= 0 ? "table-success" : "table-danger") }= currency(@accounts.sum(&:balance))

.card.text-bg-primary.mt-3{ style: "width: 100%;" }
  .card-body
    .card-title
      %h4.mb-1
        Enter Payment

    .payment-form
      = simple_form_for([:admin, Payment.new]) do |f|
        .mb-3
          = f.input :account_id, collection: Account.all, label_method: :to_s, value_method: :id
        .mb-3
          = f.input :amount, as: :string, class: "form-control", input_html: { data: { type: "currency" } }
        = f.submit "Submit", class: "btn btn-primary"
