<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, "data-turbo-track": "reload", media: "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_importmap_tags %>
</head>
<body class="<%= body_class %>">
  <nav class="navbar navbar-default bg-body-tertiary" role="navigation">
    <div class="container-fluid">
      <div class="navbar-brand d-flex align-items-center fs-2">
        <%= link_to root_path do %>
          <% image_tag "logo.png", class: "d-inline-block align-text-top", style: 'height:50px;width:100px;' %>
        <% end %>
        arryn Dollars
      </div>
    </div>
  </nav>

  <%= render "flashes" %>
  <div class="main container">
    <%= yield %>
  </div>
  <nav class="navbar fixed-bottom bg-body-tertiary">
    <div class="container-fluid">
      <div class = "navbar-nav main-nav col-xs-3 text-center">
        <%= link_to games_path do %>
          <i class = "bi bi-newspaper"></i><br>Lines
        <% end %>
      </div>
      <div class = "navbar-nav main-nav col-xs-3 text-center">
        <%= link_to bet_slip_wagers_path do %>
          <i class = "bi bi-receipt"></i><br>Bet Slip
        <% end %>
      </div>
      <div class = "navbar-nav main-nav col-xs-3 text-center">
        <%= link_to history_wagers_path do %>
          <i class = "bi bi-clock-history"></i><br>History
        <% end %>
      </div>
      <div class = "navbar-nav main-nav col-xs-3 text-center">
        <%= link_to leaderboard_path do %>
          <i class = "bi bi-trophy-fill"></i><br>Leaderboard
        <% end %>
      </div>
    </div>
  </nav>

  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
